@page
@model TorneoFutbolRetoCiclo3.App.Frontend.Pages.Novedades.IndexModel
@{
}
<h1>Listado de Novedades</h1>
<a class="btn btn-primary" asp-page="./Create" >Nuevo Novedad</a>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Minuto novedad</th>
			<th scope="col">Tipo novedad</th>
			<th scope="col">Equipo</th>
			<th scope="col">Partido</th>
			<th scope="col">Id</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	</tbody>
	@foreach (var novedad in Model.novedades)
	{
		<tr>
			<td>@novedad.minuto_novedad</td>
			<td>@novedad.Tipo_novedadId</td>
			<td>@novedad.EquipoId</td>
			<td>@novedad.PartidoId</td>
			<td>@novedad.NovedadId</td>
			<td>
				<a class="btn btn-secondary" asp-page="./Details" asp-route-id="@novedad.NovedadId">Detalle</a>
				<a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@novedad.NovedadId">Editar</a>
			</td>
		</tr>
	}
	</tbody>
</table>