@page
@model TorneoFutbolRetoCiclo3.App.Frontend.Pages.Estadios.IndexModel
@{
}

<form method="get">
    <div class="form-group">
		<label for="nombre_estadio">Buscar</label>
        <input name="nombre_estadio" id="nombre_estadio" class="form-control" asp-for="@Model.nombre_estadioActual">
    </div>
	<button type="submit" class="btn btn-primary">Buscar</button>
</form>

<h1>Listado de Estadios</h1>
<a class="btn btn-primary" asp-page="./Create" >Nuevo Estadio</a>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Direccion</th>
			<th scope="col">Municipio</th>
			<th scope="col">Id</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	</tbody>
	@foreach (var estadio in Model.estadios)
	{
		<tr>
			<td>@estadio.nombre_estadio</td>
			<td>@estadio.direccion_estadio</td>
			@foreach(var municip in Model.municipios)
			{
				if(estadio.MunicipioId == municip.MunicipioId)
				{
					<td>@municip.nombre_municipio</td>
				}
			}
			<td>@estadio.EstadioId</td>
			<td>
				<a class="btn btn-secondary" asp-page="./Details" asp-route-id="@estadio.EstadioId">Detalle</a>
				<a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@estadio.EstadioId">Editar</a>
			</td>
		</tr>
	}
	</tbody>
</table>