@page
@model TorneoFutbolRetoCiclo3.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<style>
    h1.intro
    {
        color: black;
        text-align: center;
        font-size: 300%;
    }
</style>
<h1 class = "intro">Listado de Arbitros</h1>

<form method="get">
    <div class="form-group">
		<label for="nombre_arbitro">Buscar</label>
        <input name="nombre_arbitro" id="nombre_arbitro" class="form-control" asp-for="@Model.nombre_arbitroActual">
    </div>
	<button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Documento</th>
			<th scope="col">Telefono</th>
			<th scope="col">Colegio</th>
			<th scope="col">Id</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	</tbody>
	@foreach (var arbitro in Model.arbitros)
	{
		<tr>
			<td>@arbitro.nombre_arbitro</td>
			<td>@arbitro.documento_arbitro</td>
			<td>@arbitro.telefono_arbitro</td>
			<td>@arbitro.nombre_colegio</td>
			<td>@arbitro.ArbitroId</td>
			<td>
				<a class="btn btn-secondary" asp-page="./Details" asp-route-id="@arbitro.ArbitroId">Detalle</a>
				<a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@arbitro.ArbitroId">Editar</a>
			</td>
		</tr>
	}
	</tbody>
</table>
<a class="btn btn-primary" asp-page="./Create" >Nuevo Arbitro</a>