@page
@model TorneoFutbolRetoCiclo3.App.Frontend.Pages.Jugadores.IndexModel 
@{
}
<style>
    h1.intro
    {
        color: purple;
        text-align: center;
        font-size: 300%;
    }
</style>

<h1 class="intro">Listado de Jugadores</h1>
<a class="btn btn-primary" asp-page="./Create" >Nuevo Jugador</a>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Nombres</th>
			<th scope="col">Apellidos</th>
			<th scope="col">Numero</th>
			<th scope="col">Equipo</th>
			<th scope="col">Posicion de juego</th>
			<th scope="col">Id</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	</tbody>
	@foreach (var jugador in Model.jugadores)
	{
		<tr>
			<td>@jugador.nombre_jugador</td>
			<td>@jugador.apellido_jugador</td>
			<td>@jugador.numero_jugador</td>
			<td>@Model.equipo.nombre_equipo</td>
			<td>@Model.PosJugador.nombre_posicion_jugador</td>
			<td>@jugador.JugadorId</td>
			<td>
				<a class="btn btn-secondary" asp-page="./Details" asp-route-id="@jugador.JugadorId">Detalle</a>
				<a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@jugador.JugadorId">Editar</a>
			</td>
		</tr>
	}
	</tbody>
</table>